.page[b-r3fbocw5im] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-r3fbocw5im] {
    flex: 1;
    padding: 1rem;
}

.top-nav[b-r3fbocw5im] {
    background-image: linear-gradient(90deg, rgb(128, 75, 6) 60%, #c59a58 80%);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#blazor-error-ui[b-r3fbocw5im] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1001; 
}

#blazor-error-ui .dismiss[b-r3fbocw5im] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (min-width: 641px) {
    .page[b-r3fbocw5im] {
        flex-direction: column;
    }

    .top-nav[b-r3fbocw5im] {
        width: 100%;
        height: 5rem;
        position: sticky;
        top: 0;
    }
}

