
/* General Navbar Settings */
.navbar-toggler[b-0c9fanig9z] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: #070606; 
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-0c9fanig9z] {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Navbar Scrollable Area - navbar is not actually scrollable, but namespace is kept for consistency purposes */
.nav-scrollable[b-0c9fanig9z] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Navbar Brand (Logo) */
.navbar-brand[b-0c9fanig9z] {
    display: block;
    width: 220px;
    height: 100px;
    background-image: url('book-trading-hub-high-resolution-logo-transparent.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    overflow: hidden;
}

/* Navbar Item (Link) Styles */
.nav-item[b-0c9fanig9z] {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    padding-top: 1rem;
    color: #070606;
}

/* Navbar Link Styling */
.nav-item[b-0c9fanig9z]  .nav-link {
    color: #070606;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

/* Active Link Color */
.nav-item[b-0c9fanig9z]  a.active {
    background-color: rgba(255, 255, 255, 0.37); /* Slight background for active state */
    color: #070606; /* Keep text color dark when active */
}

/* Hover Effect for Links */
.nav-item[b-0c9fanig9z]  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Slight grey background on hover */
    color: #000000;
}

/* Icon Styling */
.bi[b-0c9fanig9z] {
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    top: -1px;
    background-size: contain;
}

/* Icons for navigation menu, converted to URLs */
.bi-house-nav-menu[b-0c9fanig9z] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-house' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 .5a1 1 0 0 1 .668.263l6 5.5A1 1 0 0 1 15 7.5V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V7.5a1 1 0 0 1 .332-.737l6-5.5A1 1 0 0 1 8 .5ZM13 7.5 8 2.697 3 7.5V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V7.5ZM5 10a2 2 0 1 1 4 0 2 2 0 0 1-4 0Z'/%3E%3C/svg%3E");
}

.bi-plus-circle-nav-menu[b-0c9fanig9z] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-plus-circle' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 1a7 7 0 1 1 0 14A7 7 0 0 1 8 1Zm0 1a6 6 0 1 0 0 12A6 6 0 0 0 8 2Z'/%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4Z'/%3E%3C/svg%3E");
}

.bi-bookmark-check-nav-menu[b-0c9fanig9z] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-bookmark-check' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0'/%3E%3Cpath d='M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z'/%3E%3C/svg%3E");
}

.bi-person-circle-nav-menu[b-0c9fanig9z] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-person-circle' viewBox='0 0 16 16'%3E%3Cpath d='M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0'/%3E%3Cpath fill-rule='evenodd' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1'/%3E%3C/svg%3E");
}